
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --tblr-font-sans-serif: 'Inter', sans-serif;
  --tblr-body-color: #516274;
}

.navbar-expand-md .navbar-nav .nav-link {
  --tblr-navbar-nav-link-padding-x: 0.55rem;
}

body {
  font-feature-settings: "cv03", "cv04", "cv11";
}

.modal-status {
  height: 5px;
}

.dropdown-menu {
  --tblr-dropdown-padding-x: 0.25rem;
  --tblr-dropdown-padding-y: 0.25rem;
  --tblr-dropdown-item-padding-x: 0.5rem;
  --tblr-dropdown-item-padding-y: 0.5rem;
  --tblr-dropdown-header-padding-x: 0.75rem;
  --tblr-dropdown-header-padding-y: 0.25rem;
  --tblr-dropdown-link-hover-bg: rgba(var(--tblr-blue-rgb), 0.08);
  border: var(--tblr-dropdown-border-width) solid var(--tblr-dropdown-border-color);
  border-radius: var(--tblr-dropdown-border-radius);
}

.dropdown-item:hover {
  border-radius: 4px;
  background-color: var(--tblr-dropdown-link-hover-bg);
}

td {
  text-align: left;
  vertical-align: middle;
}

tbody tr {
  cursor: pointer;
}

#toast-container>div {
  width: 350px;
}

select[multiple] option:checked {
  background-color: rgba(68, 105, 155, 0.5);
  color: #fff;
}